@namespace Makani
@inherits MkComponent

@if (Alignment == MkCardAlignment.Top)
{
    <div class="rounded overflow-hidden shadow-lg border border-solid border-neutral-200 bg-white dark:bg-gray-800 dark:border-transparent @Styles">
        @if (!string.IsNullOrWhiteSpace(ImageUrl))
        {
            <img src="@ImageUrl">
        }
        <div class="px-6 py-4">
            @if (!string.IsNullOrWhiteSpace(Title))
            {
                <MkText Type="Typo.H2">@Title</MkText>
            }
            <p class="text-gray-700 text-base">
                @ChildContent
            </p>
        </div>
    </div>
}
else
{
    <div class="w-full shadow-lg rounded border border-solid border-neutral-200 bg-white dark:bg-gray-800 dark:border-transparent @Styles">
        @if (!string.IsNullOrWhiteSpace(ImageUrl))
        {
            <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover text-center overflow-hidden" style="background-image: url('@ImageUrl')">
            </div>
        }
        <div class="p-4 flex flex-col justify-between leading-normal">
            <div>
                @if (!string.IsNullOrWhiteSpace(Title))
                {
                    <MkText Type="Typo.H2">@Title</MkText>
                }
                <p class="text-gray-700 text-base">@ChildContent</p>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public MkCardAlignment Alignment { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public string? Styles { get; set; }
}
