@namespace Makani

<li class="px-2 py-2">
    <NavLink href="@Url"
             Match="NavLinkMatch.All"
             ActiveClass="bg-slate-200 dark:bg-slate-700"
             class="px-2 py-2 text-slate-600 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 antialiased font-medium font-sans leading-6 rounded-md">
        @ChildContent
    </NavLink>
    @if (Nested)
    {
        <ul class="pl-4 pt-2">
            @RenderNestedItem(("components#alerts","Alert"))
            @RenderNestedItem(("components#buttons","Button"))
            @RenderNestedItem(("components#cards","Card"))
            @RenderNestedItem(("components#dropdowns","Dropdown"))
            @RenderNestedItem(("components#textfield","TextField"))
            @RenderNestedItem(("components#tabs","Tabs"))
        </ul>
    }
</li>

@code {

    private RenderFragment<(string, string)> RenderNestedItem = data => __builder =>
    {
        <a href="@data.Item1"><li class="px-2 py-1 cursor-pointer text-sm text-slate-600 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 antialiased font-sans">@data.Item2</li></a>
    };
    [Parameter]
    public bool Active { get; set; }

    [Parameter]
    public string? Url { get; set; }
    
    [Parameter]
    public bool Nested { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}