@page "/"

<MkText Type="MkText.H1">Buttons</MkText>

<div class="grid grid-cols-3 gap-4 w-full">
    <MkButton Css="col-span-1" Size="MkSize.Small">Small</MkButton>
    <MkButton Css="col-span-1 ml-2">Medium</MkButton>
    <MkButton Css="col-span-1 ml-2" Size="MkSize.Large">Large</MkButton>
</div>
<div class="grid grid-cols-3 gap-4">
    <MkButton Css="col-span-1 ml-2" Color="MkColor.Primary">Primary</MkButton>
    <MkButton Css="col-span-1 ml-2" Color="MkColor.Secondary">Secondary</MkButton>
</div>
<MkText Type="MkText.H1">Tabs</MkText>
<MkTabs />

<MkText Type="@MkText.H1">Typography</MkText>

<MkText Type="@MkText.H1">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="@MkText.H2">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="@MkText.H3">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="@MkText.H4">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="@MkText.H5">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="@MkText.H6">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="@MkText.Body">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="@MkText.Caption">The quick brown fox jumps over the lazy dog.</MkText>

<MkCard Title="Card Title">The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.</MkCard>
