@inject ILogger<FormSample> Log

<MkText Type="Typo.H1" Id="textfield">TextField (preview)</MkText>
<div class="mb-10">
    <MkText Type="Typo.H3">Sizing</MkText>
    <MkText Type="Typo.Body" Css="mb-4">
        Control the size of <MkInlineCode>MkTextField</MkInlineCode> by using <MkLink Url="https://tailwindcss.com/docs/grid-template-columns" Target="LinkTarget.NewTab">Tailwind Grid Template Columns</MkLink>.
    </MkText>
    <div class="grid grid-cols-4 gap-4">
        <div class="col-span-4">
            <MkTextField Label="Full width"/>
        </div>
        <div class="col-span-2">
            <MkTextField Label="Medium width"></MkTextField>
        </div>
        <div class="col-start-1 col-span-1">
            <MkTextField Label="Small width"></MkTextField>
        </div>
    </div>
    <MkCode Text="@markup" Language="@MkCode.Razor" Caption="Example" Css="my-4"></MkCode>
</div>

<div class="mb-10">
    <MkText Type="Typo.H3">Labels</MkText>
    <div class="grid grid-cols-4 gap-4">
        <div class="col-start-1 col-span-2">
            <MkTextField Label="Default label"></MkTextField>
        </div>
        <div class="col-start-1 col-span-2">
            <MkTextField Label="Floating label" LabelType="MkLabelType.Floating"></MkTextField>
        </div>
    </div>
    <MkCode Text="@labelTypeMarkup" Language="@MkCode.Razor" Caption="Example" Css="my-4"></MkCode>
</div>

<div class="mb-10">
    <MkText Type="Typo.H3">Adornments</MkText>
    <div class="grid grid-cols-4 gap-4">
        <div class="col-start-1 col-span-2">
            <MkTextField Label="Search">
                <Suffix>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500 group-hover:text-gray-800 dark:group-hover:text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
                    </svg>
                </Suffix>
            </MkTextField>
        </div>
        <div class="col-start-1 col-span-2">
            <MkTextField Label="Search with clickable suffix" HelperText="@($"Clicked {Clicked} times")" OnSuffixClick="(_) => { Clicked++; }">
                <Suffix>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500 group-hover:text-gray-800 dark:group-hover:text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
                    </svg>
                </Suffix>
            </MkTextField>
        </div>
        <div class="col-start-1 col-span-2">
            <MkTextField Label="Works with floating labels" LabelType="MkLabelType.Floating" HelperText="@($"Clicked {Clicked} times")" OnSuffixClick="(_) => { Clicked++; }">
                <Suffix>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500 group-hover:text-gray-800 dark:group-hover:text-gray-300" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
                    </svg>
                </Suffix>
            </MkTextField>
        </div>
    </div>
    <MkCode Text="@suffixMarkup" Language="@MkCode.Razor" Caption="Example" Css="my-4"></MkCode>
</div>

<div class="mb-10">
    <MkText Type="Typo.H3">Data binding</MkText>
    <MkText Type="Typo.Body" Css="mb-4">
        The <MkInlineCode>MkTextField</MkInlineCode> component supports an immediate mode or blur mode. The default is <MkInlineCode>EntryMode.Immediate</MkInlineCode>.
    </MkText>
    <div class="grid grid-cols-4 gap-4 mb-4">
        <div class="col-span-2">
            <MkTextField Label="Immediate mode" @bind-Value="Username"></MkTextField>
        </div>
        <div class="col-span-2 flex items-end">
            <MkText Type="Typo.Body">Value: @Username</MkText>
        </div>
    </div>
    <div class="grid grid-cols-4 gap-4 mb-4">
        <div class="col-span-2">
            <MkTextField Label="Delayed mode" Mode="EntryMode.Blur" HelperText="Hint: hit tab or click outside the input" @bind-Value="Delayed"></MkTextField>
        </div>
        <div class="col-span-2 flex items-center">
            <MkText Type="Typo.Body">Value: @Delayed</MkText>
        </div>
    </div>

    <MkText Type="Typo.H3">Validation</MkText>
    <MkText Type="Typo.Body" Css="mb-4">
        <strong>Built-in validation:</strong>

        <ul>
            <li>Required</li>
            <li>Min length</li>
            <li>Max length</li>
        </ul>
    </MkText>
    <div class="grid grid-cols-4 gap-4 mb-4">
        <div class="col-span-2">
            <MkTextField Label="Required username" Required="true" OnError="OnRequiredError" @bind-Value="Username"></MkTextField>
        </div>
        <div class="col-span-2 flex items-end">
            <MkText Type="Typo.Body">Value: @Username, Error: @RequiredError</MkText>
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4 mb-4">
        <div class="col-span-2">
            <MkTextField Label="Min length username" MinLength="3" OnError="OnMinLenError" @bind-Value="Username"></MkTextField>
        </div>
        <div class="col-span-2 flex items-end">
            <MkText Type="Typo.Body">Value: @Username, Error: @MinLenError</MkText>
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4 mb-4">
        <div class="col-span-2">
            <MkTextField Label="Max length username" MaxLength="10" OnError="OnMaxLenError" @bind-Value="Username"></MkTextField>
        </div>
        <div class="col-span-2 flex items-end">
            <MkText Type="Typo.Body">Value: @Username, Error: @MaxLenError</MkText>
        </div>
    </div>
</div>

@code {
    public int Clicked { get; set; }

    public string Username { get; set; }
    public string Delayed { get; set; }
    public string RequiredError { get; set; }
    public string MaxLenError { get; set; }
    public string MinLenError { get; set; }
    private string labelTypeMarkup = @"<MkTextField Label=""Floating label"" LabelType=""MkLabelType.Floating""></MkTextField>";
    private string markup = @"<div class=""grid grid-cols-4 gap-4"">
    <div class=""col-span-4"">
        <MkTextField Label=""Full width""/>
    </div>
    <div class=""col-span-2"">
        <MkTextField Label=""Medium width"" />
    </div>
    <div class=""col-start-1 col-span-1"">
        <MkTextField Label=""Small width"" />
    </div>
</div>";

    private string suffixMarkup = @"<MkTextField Label=""Search"" OnSuffixClick=""(_) => { Clicked++; }"">
    <Suffix>
        <svg xmlns=""http://www.w3.org/2000/svg"" class=""h-5 w-5 text-gray-500 group-hover:text-gray-800 dark:group-hover:text-gray-300"" viewBox=""0 0 20 20"" fill=""currentColor"" >
            <path fill-rule=""evenodd"" d=""M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"" clip-rule=""evenodd""/>
        </svg>
    </Suffix>
</MkTextField>";

    // todo: integrate form mapping, this ideally should be more dynamic. 
    // this is far too verbose and manual for a pleasant dev experience
    public void OnRequiredError(IList<ValidationResult> validation)
    {
        RequiredError = string.Join(',', validation.Select(p => p.Message));
    }

    public void OnMinLenError(IList<ValidationResult> validation)
    {
        MinLenError = string.Join(',', validation.Select(p => p.Message));
    }

    public void OnMaxLenError(IList<ValidationResult> validation)
    {
        MaxLenError = string.Join(',', validation.Select(p => p.Message));
    }

}