@page "/Components"
<div class="grid grid-cols-4 pt-10">
    <div class="hidden sm:block sm:col-span-1">
        <MkVertNav/>
    </div>
    <div class="col-span-4 sm:col-span-3">
        <MkText Type="Typo.H4">Components</MkText>

@*         <div class="mb-10">
            <MkText Type="Typo.H1">Typography</MkText>

            <MkText Type="Typo.H1">h1. The quick brown fox jumps over the lazy dog.</MkText>

            <MkText Type="Typo.H2">h2. The quick brown fox jumps over the lazy dog.</MkText>

            <MkText Type="Typo.H3">h3. The quick brown fox jumps over the lazy dog.</MkText>

            <MkText Type="Typo.H4">h4. The quick brown fox jumps over the lazy dog.</MkText>

            <MkText Type="Typo.Body">body. The quick brown fox jumps over the lazy dog.</MkText>

            <MkText Type="Typo.Caption">caption. The quick brown fox jumps over the lazy dog.</MkText>

            <MkCode Text="@h1" Language="@MkCode.Html" Caption="Example" Css="my-4"/>
        </div> *@
    </div>
</div>

@code {

   private List<MkDropdown.MkMenuItem> Items = new List<MkDropdown.MkMenuItem>
    {
        new MkDropdown.MkMenuItem { Text = "Menu item 1" },
        new MkDropdown.MkMenuItem { Text = "Menu item 2" },
        new MkDropdown.MkMenuItem { Text = "Menu item 3" },
        new MkDropdown.MkMenuItem { Text = "Menu item 4" },
    };


    private string markup = @"public static string Html = ""html"";
public static string Markup = ""markup"";
public static string Xml = ""xml"";
public static string Svg = ""svg"";
public static string MathMl = ""mathml"";
public static string Rss = ""rss"";
public static string Css = ""css"";
public static string Javascript = ""js"";
public static string Razor = ""razor"";
public static string Csharp = ""csharp"";
";

    private string syntax = @"<MkCode Text=""@markup"" Language=""@MkCode.Html"" />

<!-- optional caption -->
 <MkCode Text=""@markup"" Language=""@MkCode.Html"" Caption=""Example""/>

@code
{
    private string markup = @""<MkButton Color=""MkColor.Primary"" Size=""MkSize.Small"">Small</MkButton>"";
}
";

    private string h1 = @"<MkText Type=""Typo.H1"">The quick brown fox jumps over the lazy dog.</MkText>";
}