@page "/"


<div>
    <div class="mb-8">
        <div class="border-b border-slate-600 mb-4">
            <MkText Type="@MkText.H1">Buttons</MkText>
        </div>
        <div class="mb-10">
            <MkText Type="@MkText.H5">Primary buttons</MkText>
            <MkButton Color="MkColor.Primary" Size="MkSize.Small">Small</MkButton>
            <MkButton Css="ml-5" Color="MkColor.Primary">Default</MkButton>
            <MkButton Css='ml-5' Color="MkColor.Primary" Size="MkSize.Large">Large</MkButton>

            <MkCode Text="@buttons" Language="@MkCode.Html" Caption="Example" Css="my-4" />
        </div>
        <div class="mb-10">
            <MkText Type="@MkText.H5">Default buttons</MkText>
            <MkButton Size="MkSize.Small">Small</MkButton>
            <MkButton Css="ml-5">Default</MkButton>
            <MkButton Css="ml-5" Size="MkSize.Large">Large</MkButton>

            <MkCode Text="@secondaryButtons" Language="@MkCode.Html" Caption="Example" Css="my-4" />
        </div>
        <div class="mb-10">
            <MkText Type="@MkText.H5">Buttons with actions</MkText>
            <div class="flex items-baseline">
                <MkButton OnClick="() => { Count++; }">Click me!</MkButton>
                <p class="dark:text-gray-200 ml-4 mb-4"><strong>Count: </strong> @Count</p>
            </div>
            <MkCode Text="@buttonsWithActions" Language="@MkCode.Html" Caption="Example" Css="my-4" />
        </div>

        <div class="mb-10">
            <MkText Type="@MkText.H5">Buttons with custom CSS</MkText>
            <MkButton Css="border border-red-500 border-solid">I have a red border!</MkButton>
            <MkCode Text="@buttonsWithCss" Language="@MkCode.Html" Caption="Example" Css="my-4" />
        </div>
    </div>
    @*    <div>
    <div class="border-b border-slate-600 mb-4">
    <MkText Type="MkText.H1">Tabs</MkText>
    </div>
    <MkTabs />
    </div>*@
    <div class="mb-10">
        <div class="border-b border-slate-600 mb-4">
            <MkText Type="@MkText.H1">Syntax Highligher</MkText>
        </div>
        <div class="mb-10">
            <p class="dark:text-gray-200">The below code snippet is your example and your documentation!</p>
            <MkCode Text="@syntax" Language="@MkCode.Html" Caption="Example" Css="my-4" />
        </div>

        <div class="mb-10">
            <p class="dark:text-gray-200 mt-4">Several languages have support built in, discoverable via intellisense in the <code>MkCode</code> component.</p>
            <MkCode Text="@markup" Language="@MkCode.Csharp" Caption="Example" Css="my-4"></MkCode>
        </div>
    </div>
    <div class="mb-10">
        <div class="border-b border-slate-600 mb-4">
            <MkText Type="@MkText.H1">Typography</MkText>
        </div>

        <MkText Type="@MkText.H1">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="@MkText.H2">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="@MkText.H3">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="@MkText.H4">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="@MkText.H5">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="@MkText.H6">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="@MkText.Body">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="@MkText.Caption">The quick brown fox jumps over the lazy dog.</MkText>

        <MkCode Text="@h1" Language="@MkCode.Html" Caption="Example" Css="my-4" />
    </div>
</div>

@code
{
    public int Count { get; set; } = 0;

    private string markup = @"public static string Html = ""html"";
public static string Markup = ""markup"";
public static string Xml = ""xml"";
public static string Svg = ""svg"";
public static string MathMl = ""mathml"";
public static string Rss = ""rss"";
public static string Css = ""css"";
public static string Javascript = ""js"";
public static string Razor = ""razor"";
public static string Csharp = ""csharp"";
";
    private string syntax = @"<MkCode Text=""@markup"" Language=""@MkCode.Html"" />

<!-- optional caption -->
 <MkCode Text=""@markup"" Language=""@MkCode.Html"" Caption=""Example""/>

@code
{
    private string markup = @""<MkButton Color=""MkColor.Primary"" Size=""MkSize.Small"">Small</MkButton>"";
}
";

    private string buttons = @"<MkButton Color=""MkColor.Primary"" Size=""MkSize.Small"">Small</MkButton>
<MkButton Color=""MkColor.Primary"">Default</MkButton>
<MkButton Color=""MkColor.Primary"" Size=""MkSize.Small"">Small</MkButton>
";

    private string secondaryButtons = @"<MkButton Size=""MkSize.Small"">Small</MkButton>
<MkButton>Default</MkButton>
<MkButton Size=""MkSize.Small"">Small</MkButton>
";

    private string buttonsWithActions = @"<MkButton OnClick=""() => { Count++; }"">Click me!</MkButton>";
    private string buttonsWithCss = @"<MkButton Css=""border border-red-500 border-solid"">I have a red border!</MkButton>";
    private string h1 = @"<MkText Type=""@MkText.H1"">The quick brown fox jumps over the lazy dog.</MkText>";
}
